<h1 class="vc_custom_heading aa_post-title" style="font-family: Abril Fatface; font-weight: 400; font-style: normal; text-align: center;"><span style="font-family: times new roman, times;">Manifesto for Agile Software Development</span></h1>
<div class="wpb_text_column wpb_content_element  vc_custom_1448682431879 aa_landing-text-break-sub-title">
   <div class="wpb_wrapper">
      <p class="p1" style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Individuals and interactions over processes and tools</span></p>
   </div>
</div>
<div class="wpb_text_column wpb_content_element  aa_landing-text-break-sub-title">
   <div class="wpb_wrapper">
      <p style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Working software over comprehensive documentation</span></p>
   </div>
</div>
<div class="wpb_text_column wpb_content_element  aa_landing-text-break-sub-title">
   <div class="wpb_wrapper">
      <p class="p1" style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Customer collaboration over contract negotiation</span></p>
   </div>
</div>
<div class="wpb_text_column wpb_content_element  aa_landing-text-break-sub-title">
   <div class="wpb_wrapper">
      <p class="p1" style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Responding to change over following a plan</span></p>
      <h1 class="vc_custom_heading aa_post-title" style="font-family: Abril Fatface; font-weight: 400; font-style: normal; text-align: center;"><span style="font-family: times new roman, times;">12 Principles Behind the Agile Manifesto</span></h1>
      <ol>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Welcome changing requirements, even late in development. Agile processes harness change for the customer&rsquo;s competitive advantage.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Deliver working software frequently, from a couple of weeks to a couple of months, with a preference to the shorter timescale.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Business people and developers must work together daily throughout the project.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Build projects around motivated individuals. Give them the environment and support they need, and trust them to get the job done.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">The most efficient and effective method of conveying information to and within a development team is face-to-face conversation.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Working software is the primary measure of progress.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Agile processes promote sustainable development. The sponsors, developers, and users should be able to maintain a constant pace indefinitely.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Continuous attention to technical excellence and good design enhances agility.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">Simplicity&ndash;the art of maximizing the amount of work not done&ndash;is essential.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">The best architectures, requirements, and designs emerge from self-organizing teams.</span></li>
         <li style="text-align: center;"><span style="font-family: times new roman, times; font-size: 12pt;">At regular intervals, the team reflects on how to become more effective, then tunes and adjusts its behavior accordingly.</span></li>
      </ol>
   </div>
</div>
