<h1 style="text-align: center;">Manifesto for Agile Software Development</h1>
<div style="text-align: center;">
    <div>
        <p>Individuals and interactions over processes and tools</p>
    </div>
</div>
<div style="text-align: center;">
    <div>
        <p>Working software over comprehensive documentation</p>
    </div>
</div>
<div style="text-align: center;">
    <div>
        <p>Customer collaboration over contract negotiation</p>
    </div>
</div>
<div>
    <div>
        <p style="text-align: center;">Responding to change over following a plan</p>
        <h1 style="text-align: center;">12 Principles Behind the Agile Manifesto</h1>
        <ol>
            <li style="text-align: center;">Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.</li>
            <li style="text-align: center;">Welcome changing requirements, even late in development. Agile processes harness change for the customer&rsquo;s competitive advantage.</li>
            <li style="text-align: center;">Deliver working software frequently, from a couple of weeks to a couple of months, with a preference to the shorter timescale.</li>
            <li style="text-align: center;">Business people and developers must work together daily throughout the project.</li>
            <li style="text-align: center;">Build projects around motivated individuals. Give them the environment and support they need, and trust them to get the job done.</li>
            <li style="text-align: center;">The most efficient and effective method of conveying information to and within a development team is face-to-face conversation.</li>
            <li style="text-align: center;">Working software is the primary measure of progress.</li>
            <li style="text-align: center;">Agile processes promote sustainable development. The sponsors, developers, and users should be able to maintain a constant pace indefinitely.</li>
            <li style="text-align: center;">Continuous attention to technical excellence and good design enhances agility.</li>
            <li style="text-align: center;">Simplicity&ndash;the art of maximizing the amount of work not done&ndash;is essential.</li>
            <li style="text-align: center;">The best architectures, requirements, and designs emerge from self-organizing teams.</li>
            <li style="text-align: center;">At regular intervals, the team reflects on how to become more effective, then tunes and adjusts its behavior accordingly.</li>
        </ol>
    </div>
</div>
