// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 20px;
  text-align: center;
}

h1
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 40px;
  text-align: center;
}

li
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 18px;
  text-align: center;
}
